.bg{
    background-color:#ff0049;
    width: 100%;
    height: 100%px;
    diplay:grid;
    grid-gap:10px;
}

.banner{
    background-color:#ffbd15;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    position: static;
  
    
}
.game{background-color: #15ffe0;
    color:#50ff00;
    font-size: 30px;
    height: 10%;
    width: 10%;
  right: 55px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;

    border: 1px solid black;
  outline-style: solid;
  outline-color: red;
  outline-width: medium;
    text-align: center;
    font-family: cursive;

}

.flickity{
    background-color:#85ff15;
    height: 20%;
    width: 100%;
    
}
.gametype{
    background-color:#15ffe0;
    height: 5%;
    width: 100%;
    
}
.games{
    background-color:#1523ff;
    height: 100%;
    width: 100%;
    
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap:10px;
}
.g{
background-color:#ffbfea;
height: 200px;
}
